---
layout: '../layouts/Layout.astro';
title: 'Contact CoreSquares';
description: 'Get in touch with Corey Zapin.';
---
<section style="padding:2rem;text-align:center;">
  <h1>Contact</h1>
  <p>Email: <a href="mailto:coreyzapin@gmail.com">coreyzapin@gmail.com</a></p>
  <p>
    <a href="https://youtube.com/@CoreSquares" target="_blank">YouTube</a> | 
    <a href="https://instagram.com/YOURHANDLE" target="_blank">Instagram</a> | 
    <a href="https://tiktok.com/@YOURHANDLE" target="_blank">TikTok</a>
  </p>
</section>
